@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar-hide utility */
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
  }
  